<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Input Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md = "6" offset-md = "3">
        <ion-card text-align: center >
          <ion-card-header>
            <ion-title color="warning">
              Input Detail Note  
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            
            <ion-label>Title Name </ion-label>
            <ion-input placeholder="Title" type="text"></ion-input>
            <div margin-vertical>
              <ion-label>Image </ion-label>
              <div margin-vertical>
                <ion-fab-button (click)="addPhoto()" color="warning">
                  <ion-icon name="image-outline"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
            <ion-label>Content </ion-label>
            <ion-input placeholder="Content" type="text"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
